extends layout

block title
  title Change User Password

block script
  script(type='text/javascript').
    var confirmPasswd = function() {
      var n = document.getElementById('newpwd');
      var c = document.getElementById('confirm');
      var s = document.getElementById('submit');
      if (n.value === c.value) {
        s.disabled = false;
        s.innerHTML = "Change Password";
      } else {
        s.disabled = true;
        s.innerHTML = "Passwords don\'t match";
      }
    };

block content
  form(method='post', action='/user')
    p
      input(name='username', type='text', required='true', placeholder='Username')
    p
      input(name='old_password', type='password', required='true', placeholder='Old Password')
    p
      input#newpwd(name='new_password', type='password', required='true', placeholder='New Password', onkeyup='confirmPasswd();')
    p
      input#confirm(type='password', required='true', placeholder='Confirm Password', onkeyup='confirmPasswd();')
    p
      button#submit(disabled='true', type='submit') Change Password

