<div id="pi-container" class="col s12">
  <div class="col s12 center">
    <div class="pi-hole btn-floating btn-large white"></div>
  </div>
  
  <div id="pi-board" class="col s7"></div>
  <div class="col s12">
    <% for i in 0...40 do %>
    <div class="col s6">
      <%= f.check_box i, { id: "pin#{i}", class: "filled-in" + (if i.even? then " reverse" else "" end), disabled: !@descs[i].starts_with?("GPIO") } %>
      <label for="pin<%= i %>" class="pi-pin col s12 <%= i.even? ? 'left' : 'right'%>-align">
	<%= @descs[i] %>
      </label>
    </div>
    <% end %>
  </div>

  <div class="col s12 center">
    <div class="pi-hole btn-floating btn-large white"></div>
  </div>
</div>
